.navBar {
    background: black;
    display:flex;
    width:100%;
    height:100px;
}


.navBar button{
    height:50px;
    width:100px;
    background-color: blue;
    color:White;
    font-size:15px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.500);
    border-radius: 50%;
    border-style:none;
    margin:25px;
    transition: 500ms;
}

.navbar a{
    width:100px;
    height:50px;
}

.navBar button:hover{
    transform: scale(1.2);
    transition: 500ms;
    background-color: cyan;
    font-size: 20px;
}

.navBar button:active{
    background-color: greenyellow;
    transition: 1ms;
}


.arrowNext{
    rotate: 180deg;
    background-color: green;;
    transition: 500ms;
    border-radius: 50%;
    padding:10px;
    margin:auto;
}

.arrowBack{
    background:green;
    transition: 500ms;
    border-radius: 50%;
    padding:10px;
    margin:auto;
}

.arrowNext:hover, .arrowBack:hover {
    transform: scale(1.2);

    transition: 500ms;
    background-color: greenyellow;
}


.arrowBack:active, .arrowNext:active{
    background-color:aqua;
    transition: 1ms;
}